/* reset default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* stile css per la navbar */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 20px 0px;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 2em;
}

.nav-link.active {
  background-color: #555;
}

.nav-link:hover {
  background-color: #444;
}

/* stile css per la tabella (TaskList) */
table {
  margin: 50px auto;
  border-collapse: collapse;
  width: 80%;
  max-width: 1000px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #333;
  color: white;
}

th,
td {
  padding: 15px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 1.1em;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #333;
}

td.todo {
  background-color: red;
}

td.doing {
  background-color: yellow;
}

td.done {
  background-color: green;
}